.mensajeSession {
    background-color: #28A745;
    color: white;
    padding: 10px;
    font-weight: bold;
}


/* CheckBox de Cancelacion de Reservas */

.chkbx input[type="checkbox"] {
    display: none;
}

.chkbx {
    position: relative;
    cursor: pointer;
}

.chkbx .x {
    display: block;
    width: 60px;
    height: 30px;
    border: 2px solid #d3d3be;
    border-radius: 60px;
    transition: 0.5s;
}

.chkbx .x:before {
    content: "";
    position: absolute;
    width: 16px;
    height: 16px;
    top: 7px;
    left: 7px;
    box-sizing: border-box;
    background: #d3d3be;
    border: 2px solid #d3d3be;
    border-radius: 40px;
    transition: 0.5s;
}

.chkbx :checked~.x:before {
    background: #23272B;
    border-color: #23272B;
    transform: translatex(30px);
}

.chkbx :checked~.x {
    border-color: #23272B;
}


/* Pagination */

.pagination {
    margin-left: 8%;
}

.pagination li {
    margin-left: .25rem;
    margin-right: .25rem;
}

.pagination li .page-link {
    border-radius: .25rem;
    border: none;
    min-width: 2.25rem;
    text-align: center;
    color: #4f5464;
}

.pagination li.active .page-link,
.pagination li .page-link:hover {
    background-color: #1D1D1D;
    color: #fff;
    font-weight: bold;
}